<%= form_for(@map_point) do |f| %>
  <% if @map_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
      <% @entity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :x %>
  <%= f.text_field :x, class: 'form-control' %>

  <%= f.label :y %>
  <%= f.text_field :y, class: 'form-control' %>

  <%= f.label :zone %>
  <%= f.text_field :zone, class: 'form-control' %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
