<h1>Listing mapPoints</h1>

<%= link_to 'New Point', new_map_point_path %>
<hr/>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Zone name</th>
      <th>X</th>
      <th>Y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @map_points.each do |map_point| %>
      <tr>
        <td><%= map_point.zone %></td>
        <td><%= map_point.x %></td>
        <td><%= map_point.y %></td>
        <td><%= link_to 'Show', map_point %></td>
        <% if can? :edit, map_point %>
          <td><%= link_to 'Edit', edit_map_point_path(map_point) %></td>
        <% end %>
        <% if can? :destroy, map_point %>
          <td><%= link_to 'Destroy', map_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
