<h1>Listing mapPoints</h1>

<%= link_to 'New Point', new_map_point_path %>
<hr/>

<%= will_paginate %>

<ul>
  <% @map_points.each do |map_point| %>
    <li>
      <%= label map_point.x, map_point.x %>
      <%= label map_point.y, map_point.y %>
      <%= label map_point.zone, map_point.zone %>
      <%= link_to map_point.id, map_point %>

      <% if can? :edit, map_point %>
        <td><%= link_to 'Edit', edit_map_point_path(map_point) %></td>
      <% end %>
      <% if can? :destroy, map_point %>
        <td><%= link_to "Delete", map_point, method: :delete,
                                        data: { confirm: "You sure?" } %></td>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
