<div class="row col-md-6 col-md-offset-3">
  <p>
    <strong>X:</strong>
    <%= @map_point.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= @map_point.y %>
  </p>
  <p>
    <strong>Zone:</strong>
    <%= @map_point.zone %>
  </p>
  <p>
    <strong>Terrain:</strong>
    <% if @map_point.terrain %>
      <strong>Name:</strong>
      <%= @map_point.terrain.name %>
      <strong>Colour:</strong>
      <%= @map_point.terrain.colour %>
    <% else %>
      No terrain for this map point.
    <% end %>
  </p>

  <% if can? :edit, @map_point %>
    <%= link_to 'Edit', edit_map_point_path(@map_point) %> |
  <% end %>
  <%= link_to 'Back', map_points_path %>
</div>
