<h1>Grid system</h1>
<div class="row">
  <%= form_tag do %>

    <table class="table-bordered centered">
      <% @map_points.each do |key, array| %>
        <tr>
          <% array.each do |map_point| %>
            <td>
              <% if map_point.id == @map_point.id %>
                <%= radio_button_tag(:id,map_point.id, true, class: "grid_point") %>
              <% else %>
               <%= radio_button_tag(:id,map_point.id, false, class: "grid_point") %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

  <% end %>
</div>
<div class="row">
  <div class="float">
    <%= render @player %>
  </div>
  <div class="float">
    <%= render @map_point ||= MapPoint.new %>
  </div>
  <div class="float">

    <div class="btn-group" role="group" aria-label="...">
      <%= link_to '', grid_move_path(@map_points[0][1]), :class => "btn glyphicon glyphicon-arrow-left"  %>
      <%= link_to '', grid_move_path(@map_points[1][1]), :class => "btn glyphicon glyphicon-arrow-up"  %>
      <%= link_to '', grid_move_path(@map_points[2][1]), :class => "btn glyphicon glyphicon-arrow-right"  %>
      <%= link_to '', grid_move_path(@map_points[3][1]), :class => "btn glyphicon glyphicon-arrow-down"  %>
    </div>
  </div>
</div>
