<%= form_for(@terrain) do |f| %>
  <% if @terrain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terrain.errors.count, "error") %> prohibited this terrain from being saved:</h2>

      <ul>
      <% @terrain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :colour %><br>
    <%= f.text_area :colour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
