<h1>Listing terrains</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrains.each do |terrain| %>
      <tr>
        <td><%= terrain.name %></td>
        <td><%= terrain.colour %></td>
        <td><%= link_to 'Edit', edit_terrain_path(terrain) %> |</td>
        <td><%= link_to 'Show', terrain %> |</td>
        <td><%= link_to 'Delete', terrain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terrain', new_terrain_path %>
