<h1>Listing terrains</h1>
<%= link_to 'New Terrain', new_terrain_path %>
<hr>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrains.each do |terrain| %>
      <tr>
        <td><%= terrain.name %></td>
        <td><%= terrain.colour %></td>
        <td><%= link_to 'Show', terrain %></td>
        <% if can? :edit, terrain %>
          <td><%= link_to 'Edit', edit_terrain_path(terrain) %></td>
        <% end %>
        <% if can? :destroy, terrain %>
          <td><%= link_to 'Destroy', terrain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
