<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @terrain.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @terrain.colour %>
</p>

<% if can? :edit, @terrain %>
  <td><%= link_to 'Edit', edit_terrain_path(@terrain) %></td>
<% end %>

<%= link_to 'Back', terrains_path %>
