<h1>Listing entities</h1>
<%= link_to 'New Entity', new_entity_path %>
<hr>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.name %></td>
        <td><%= link_to 'Show', entity %></td>
        <% if can? :edit, entity %>
          <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <% end %>
        <% if can? :destroy, entity %>
          <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
