<h1>Listing players</h1>

<%= link_to 'Create player', new_player_path %>
<hr/>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.username %></td>
        <td><%= link_to 'Show', player %></td>
        <% if can? :edit, player %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <% end %>
        <% if can? :destroy, player %>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate %>
