<h1>Listing players</h1>

<%= link_to 'Create player', new_player_path %>
<hr/>
<ul>
  <% @players.each do |player| %>
    <li>
      <%= label player.username, player.username %>
      <%= link_to player.id, player %>

      <% if can? :edit, player %>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <% end %>
      <% if can? :destroy, player %>
        <td><%= link_to "Delete", player, method: :delete,
                                        data: { confirm: "You sure?" } %></td>
      <% end %>
    </li>
  <% end %>
</ul>
