<h1>Welcome to the world of PDB</h1>

<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    Choose a unique username that will be viewed by all the other players.
  </p>
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control margin-bottom' %>

  <%= fields_for @entity do |fe| %>
    <p>
      Choose a unique name for your hero. This will be the name that you will be known in-world.
    </p>
    <%= fe.label :name %>
    <%= fe.text_field :name, class: 'form-control margin-bottom' %>
    <p>
      Choose a small description for your hero. This will be the start of your story as a character.
    </p>
    <%= fe.label :description %>
    <%= fe.text_field :description, class: 'form-control margin-bottom' %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
